{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 class="text-center">Bonjour Administrateur !</h1>

</div>
{% endblock %}
